@keyframes bounceAnimation {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation: bounceAnimation 2s infinite;
    position: absolute;
    top: 330px;
    left: 400px;
    width: 300px;
}

@keyframes bounce {/*This funtion moves the ball from the left to right  */
    0% {
        transform: translateX(70vw) translateY(0); /*  */
    }

    20% {
        transform: translateX(50vw) translateY(-80px);
    }

    40% {
        transform: translateX(30vw) translateY(0);
    }

    60% {
        transform: translateX(20vw) translateY(-80px);
    }

    80% {
        transform: translateX(0vw) translateY(-50px);
    }
}

@keyframes moveRight {
    from {
        background-position: 0% 0;
    }

    to {
        background-position: 100% 0;
    }
}
/* Background effect of the screen */
.elementblue {
    width: 100vw;
    height: 100vh;
    background-image: url('bg2blue.png');
    background-repeat: repeat-x;
    animation: moveRight .8s linear infinite;
}

.elementred {
    width: 100vw;
    height: 100vh;
    background-image: url('bg2red.png');
    background-repeat: repeat-x;
    animation: moveRight .8s linear infinite;
}

.elementgreen {
    width: 100vw;
    height: 100vh;
    background-image: url('bg2green.png');
    background-repeat: repeat-x;
    animation: moveRight .8s linear infinite;
}

.bounce1 {
    display: inline-block;
    animation: bounce 5s 1;
    vertical-align: bottom;
    position: absolute;
    right: 900px;
    bottom: 100px;
}

body {
    margin: 0; 
    padding: 0;
    overflow: hidden;
}

.hover-effectb {
    /* Setting the intialy hover effect of the shadow  */
    display: block;
    border-radius: 50%; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    transform: translateY(0); 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
}

    .hover-effectb:hover {
        /* Changing the color when the image is hovered over */
        transform: translateY(-10px); 
        box-shadow: 0px 10px 15px rgba(0, 0, 255, 0.3); /* Add shadow beneath the image */
    }

.hover-effectg {
    display: block;
    border-radius: 50%; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

    .hover-effectg:hover {
        transform: translateY(-10px);
        box-shadow: 0px 10px 15px rgba(0, 255, 0, 0.3);
    }

.hover-effectr {
    display: block;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

    .hover-effectr:hover {
        transform: translateY(-10px);
        box-shadow: 0px 10px 15px rgba(255, 0, 0, 0.3);
    }


@keyframes typewriter {/* Setting the space of the typewritter effect within the div */
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}

@keyframes blinkTextCursor {/*setting the blinking text  */
    from {
        border-right-color: transparent;
    }

    to {
        border-right-color: black;
    }
}

.textbox {
    background-image: url('Dialog.png');
    position: absolute;
    top: 40%;
    left: 3%;
    width: 325px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
}

.txt {
    padding-left: 30px;
    padding-right: 20px;
    overflow-wrap: break-word;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    width: 14ch;
    animation: typewriter 4s steps(24) 0s 1 normal both, blinkTextCursor 500ms steps(24) infinite;
}
