.element {
    width: 100vw;       
    height: 100vh;      
    background-image: url('start.png');
background-repeat: no-repeat; /* This ensures the image doesn't repeat */
    background-size: cover; /* This ensures the image covers the entire element */
   
}
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Prevent scrollbars */
}
.pokeball1 {
position: relative;
    top:40%;          
    left: 30%;   
width: 70px;}
.pokeball2 {
position: relative;
    top:45%;          
    left: 45%;   
width: 70px;}
.pokeball3 {
position: relative;
    top:25%;          
    left: 60%;   
width: 70px;}


.hover-effectr {
    /* Setting initial styles */
    display: block;
	  border-radius: 50%; /* Ensures the image is treated as a block-level element */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow properties */
    transform: translateY(0); /* Initial position */
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* No shadow initially */
}

.hover-effectr:hover {
    /* Styles when the image is hovered over */
    transform: translateY(-10px); /* Move the image up by 10 pixels */
    box-shadow: 0px 10px 15px rgba(255, 0, 0, 0.3); /* Add shadow beneath the image */
}
.hover-effectb {
    /* Setting initial styles */
    display: block;
	  border-radius: 50%; /* Ensures the image is treated as a block-level element */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow properties */
    transform: translateY(0); /* Initial position */
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* No shadow initially */
}

.hover-effectb:hover {
    /* Styles when the image is hovered over */
    transform: translateY(-10px); /* Move the image up by 10 pixels */
    box-shadow: 0px 10px 15px rgba(0, 255, 0, 0.3); /* Add shadow beneath the image */
}
.hover-effectg {
    /* Setting initial styles */
    display: block;
	  border-radius: 50%; /* Ensures the image is treated as a block-level element */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow properties */
    transform: translateY(0); /* Initial position */
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* No shadow initially */
}

.hover-effectg:hover {
    /* Styles when the image is hovered over */
    transform: translateY(-10px); /* Move the image up by 10 pixels */
    box-shadow: 0px 10px 15px rgba(0, 0, 255, 0.3); /* Add shadow beneath the image */
}
.title{
position: relative;
    top:5%;          
    left:30%; 
    width:500px;
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: transparent;
    }
    to {
        border-right-color: black; 
    }
}

.textbox {
    background-image: url('Dialog.png');
    position: absolute;
    top: 40%;          
    left: 3%; 
    width: 325px;
    height: 70px;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.txt {
    padding-left: 30px;   
    padding-right: 20px;
    overflow-wrap: break-word;
    font-family: monospace; /* for the typewriter aesthetic */
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    width: 14ch; /* adjust this based on the length of your text */
    animation: 
        typewriter 4s steps(24) 0s 1 normal both, 
        blinkTextCursor 500ms steps(24) infinite;
}

